---
import AppLayout from "layouts/AppLayout.astro";
---

<AppLayout title="Archive">
  <div slot="subPanel">
    Besides physical medias, we also archive digital contents such as websites,
    webpages, videos, and documents.
  </div>
</AppLayout>
