---
import AppLayout from "pages/_components/AppLayout/AppLayout.astro";
---

{
  /* ------------------------------------------- HTML ------------------------------------------- */
}

<AppLayout title="Library">
  <main slot="mainPanel"><h1>Library</h1></main>
  <div slot="subPanel">
    A comprehensive list of all Yokoverse’s side materials (books, novellas,
    artbooks, stage plays, manga, drama CDs, and comics). For each, we provide
    photos, scans, and transcript of the content, information about what it is,
    when and how it was released, size, initial price…
  </div>
</AppLayout>
