---
import { Icon } from "astro-icon/components";
import { getLocalizedUrl } from "utils/urls";
interface Props {
  href: string;
  isActive?: boolean;
  text?: string;
  icon?: string;
}

const { locale } = Astro.params;
const { href, text, icon, isActive } = Astro.props;
---

<a href={getLocalizedUrl(href, locale)} class:list={{ active: isActive }}>
  {text && text}
  {icon && <Icon name={icon} />}
</a>

<style></style>
