---
import { Icon } from "astro-icon/components";
interface Props {
  title: string;
  showSubPanel: boolean;
}

const { title, showSubPanel } = Astro.props;
---

<div id="component">
  <button
    id="toggle-menu-panel"
    _="on click 
        toggle .opened on #menu-panel
        remove .opened from #sub-panel
        remove .on from #toggle-sub-panel
        toggle .on on me"
  >
    <Icon
      class="when-off"
      name="material-symbols:menu-rounded"
      width={24}
      height={24}
    />
    <Icon
      class="when-on"
      name="material-symbols:close-rounded"
      width={24}
      height={24}
    />
  </button>
  <p>{title}</p>
  <div>
    {
      showSubPanel && (
        <button
          id="toggle-sub-panel"
          _="on click 
              toggle .opened on #sub-panel
              remove .opened from #menu-panel
              remove .on from #toggle-menu-panel
              toggle .on on me"
        >
          <Icon
            class="when-off"
            name="material-symbols:tune-rounded"
            width={24}
            height={24}
          />
          <Icon
            class="when-on"
            name="material-symbols:close-rounded"
            width={24}
            height={24}
          />
        </button>
      )
    }
  </div>
</div>

<style>
  #component {
    border-top: var(--border-style);
    display: grid;
    grid-template-columns: 5rem 1fr 5rem;
    place-items: center;
  }

  .on > .when-off,
  :not(.on) > .when-on {
    display: none;
  }
</style>
