---
import Html from "layouts/Html.astro";
import Navbar from "components/Navbar.astro";
import MenuPanel from "components/MenuPanel.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;

const turnSubPanelIntoMainPanel =
  Astro.slots.has("subPanel") && !Astro.slots.has("mainPanel");
---

<Html title={title}>
  <div
    id="panels"
    class:list={{ "turn-sub-into-main": turnSubPanelIntoMainPanel }}
  >
    <div id="menu-panel" class="texture-dots">
      <MenuPanel />
    </div>

    <div id="sub-panel" class="texture-dots">
      <slot name="subPanel" />
    </div>

    <div id="main-panel" class="texture-dots">
      <slot name="mainPanel" />
    </div>
  </div>

  <div id="navbar">
    <Navbar
      title={title}
      showSubPanel={Astro.slots.has("subPanel") && !turnSubPanelIntoMainPanel}
    />
  </div>
</Html>

<style>
  body {
    overflow: hidden;
    position: absolute;
    inset: 0;
    --border-style: 1px solid var(--color-base-400);

    @media (width < 60rem) {
      display: grid;
      grid-template-rows: 1fr 5rem;
    }

    & > #navbar {
      display: grid;
      @media (width >= 60rem) {
        display: none;
      }
    }

    & > #panels {
      position: relative;

      @media (width < 60rem) {
        &.turn-sub-into-main > #sub-panel {
          inset: 0;
          z-index: 0;
          transition: initial;
          border: initial;
          width: 100%;
        }
      }

      @media (width >= 60rem) {
        position: absolute;
        inset: 0;
        display: flex;
      }

      & > #sub-panel {
        @media (width < 60rem) {
          right: -100%;
          top: 0;
          bottom: 0;
          transition: 0.2s right;
          z-index: 1;
          border-left: var(--border-style);

          &.opened {
            right: 0;
          }
        }

        @media (width >= 60rem) {
          width: 20rem;
          flex-shrink: 0;
          border-right: var(--border-style);
        }
      }

      & > #menu-panel {
        background-position: top right;
        flex-shrink: 0;
        overflow-y: auto;

        @media (width < 60rem) {
          left: -100%;
          top: 0;
          bottom: 0;
          transition: 0.2s left;
          z-index: 1;
          border-right: var(--border-style);

          &.opened {
            left: 0;
          }
        }
      }

      & > #main-panel {
        width: 100%;
      }

      & > div {
        display: grid;
        background-color: var(--color-base-150);
        justify-content: center;

        &:empty {
          display: none;
        }

        @media (width < 60rem) {
          position: absolute;
          width: min(30rem, 90%);
        }
      }
    }
  }
</style>
