---
import { Icon } from "astro-icon/components";
import { getLocalizedUrl } from "utils/urls";
import { CookieNames } from "utils/cookies";
import NavOptionIcon from "pages/_components/NavOptionIcon.astro";
import { parseCookie } from "utils/astro";
import HorizontalLine from "pages/_components/HorizontalLine.astro";
import ReduceToggleButton from "./ReduceToggleButton.astro";

const { locale = "en" } = Astro.params;

const themeColors = parseCookie<string>(
  Astro.cookies.get(CookieNames.THEME_COLOR),
  "theme-color-light"
);
---

{
  /* ------------------------------------------- HTML ------------------------------------------- */
}

<a
  id="accords-logo"
  data-turbo-confirm="Do you want to leave this page?"
  href={getLocalizedUrl("/", locale)}
>
  <Icon name="accords" />
</a>

<div id="buttons">
  <ReduceToggleButton icon="material-symbols:chevron-right-rounded" />

  <button
    class={themeColors === "theme-color-dark" ? "dark" : "light"}
    id="theme-toggle"
  >
    <Icon
      class="when-light"
      name="material-symbols:light-mode"
      width={24}
      height={24}
    />
    <Icon
      class="when-dark"
      name="material-symbols:dark-mode"
      width={24}
      height={24}
    />
  </button>
</div>

<HorizontalLine />

<NavOptionIcon
  href="/library"
  icon="material-symbols:auto-stories"
  title="Library"
  subtitle="Browse all physical and digital media"
/>

<NavOptionIcon
  href="/contents"
  icon="material-symbols:workspaces"
  title="Content"
  subtitle="Explore all content and filter by type or category"
/>

<NavOptionIcon
  href="/wiki"
  icon="material-symbols:travel-explore"
  title="Wiki"
  subtitle="An encyclopedia for everything related to DrakeNieR"
/>

<NavOptionIcon
  href="/chronicles"
  icon="material-symbols:schedule"
  title="Chronicles"
  subtitle="Experience all events and content in chronological order"
/>

<HorizontalLine />

<NavOptionIcon href="/news" icon="material-symbols:newspaper" title="News" />

<NavOptionIcon
  href="https://gallery.accords-library.com/posts/"
  icon="material-symbols:perm-media"
  title="Gallery"
/>

<NavOptionIcon href="/archives" icon="material-symbols:save" title="Archives" />

<NavOptionIcon href="/about-us" icon="material-symbols:info" title="About us" />

{
  /* ------------------------------------------- CSS -------------------------------------------- */
}

<style>
  #accords-logo {
    width: 3rem;
    aspect-ratio: 1/1;
    color: var(--color-base-1000);

    &:hover {
      color: var(--color-base-600);
    }

    & > svg {
      width: 100%;
      height: 100%;
    }
  }

  #buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-wrap: wrap;

    & > #theme-toggle.dark > .when-light,
    & > #theme-toggle.light > .when-dark {
      display: none;
    }
  }
</style>

{
  /* -------------------------------------------- JS -------------------------------------------- */
}

<script>
  import tippy, { createSingleton } from "tippy.js";
  import { onLoad } from "utils/turbo";

  onLoad(() => {
    createSingleton(
      tippy(".menu-panel-content > [data-tippy-template]", {
        content: (reference) => {
          const templateQuery = reference.getAttribute("data-tippy-template")!;
          const template = reference.querySelector(templateQuery)!;
          const container = document.createElement("div");
          container.append(template.cloneNode(true));
          container.style.fontSize = "90%";
          return container;
        },
      }),
      {
        allowHTML: true,
        placement: "right",
        delay: 250,
        moveTransition: "transform 0.2s ease",
        maxWidth: "18rem",
        inertia: true,
      }
    );
  });
</script>
