---
import { Icon } from "astro-icon/components";
import { getLocalizedUrl } from "utils/urls";
import HorizontalLine from "pages/_components/HorizontalLine.astro";
import ReduceToggleButton from "./ReduceToggleButton.astro";
import ThemeToggleButton from "./ThemeToggleButton.astro";
import NavOption from "pages/_components/NavOption.astro";

interface Props {
  isReduced?: boolean;
}

const { locale = "en" } = Astro.params;
const { isReduced = false } = Astro.props;
---

{
  /* ------------------------------------------- HTML ------------------------------------------- */
}

<a id="accords-logo" href={getLocalizedUrl("/", locale)}>
  <Icon name="accords" />
</a>

<p id="title" class:list={{ hidden: isReduced }}>Accord’s Library</p>

<div id="buttons" class:list={["when-js", { reduced: isReduced }]}>
  <ReduceToggleButton
    icon={isReduced
      ? "material-symbols:chevron-right"
      : "material-symbols:chevron-left"}
  />
  <ThemeToggleButton />
</div>

<HorizontalLine />

<NavOption
  href="/library"
  icon="material-symbols:auto-stories"
  title="Library"
  subtitle="Browse all physical and digital media"
  mode={isReduced ? "iconOnly" : "default"}
/>

<NavOption
  href="/contents"
  icon="material-symbols:workspaces"
  title="Content"
  subtitle="Explore all content and filter by type or category"
  mode={isReduced ? "iconOnly" : "default"}
/>

<NavOption
  href="/wiki"
  icon="material-symbols:travel-explore"
  title="Wiki"
  subtitle="An encyclopedia for everything related to DrakeNieR"
  mode={isReduced ? "iconOnly" : "default"}
/>

<NavOption
  href="/chronicles"
  icon="material-symbols:schedule"
  title="Chronicles"
  subtitle="Experience all events and content in chronological order"
  mode={isReduced ? "iconOnly" : "default"}
/>

<HorizontalLine />

<NavOption
  href="/news"
  icon="material-symbols:newspaper"
  title="News"
  mode={isReduced ? "iconOnly" : "default"}
/>

<NavOption
  href="https://gallery.accords-library.com/posts/"
  icon="material-symbols:perm-media"
  title="Gallery"
  mode={isReduced ? "iconOnly" : "default"}
/>

<NavOption
  href="/archives"
  icon="material-symbols:save"
  title="Archives"
  mode={isReduced ? "iconOnly" : "default"}
/>

<NavOption
  href="/about-us"
  icon="material-symbols:info"
  title="About us"
  mode={isReduced ? "iconOnly" : "default"}
/>

<div class:list={{ hidden: isReduced }}>
  <HorizontalLine />

  <p>
    This website’s content is made available under <a
      href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a
    > unless otherwise noted.
  </p>

  <div id="common-creative">
    <Icon name="creative-commons-brands" />
    <Icon name="creative-commons-by-brands" />
    <Icon name="creative-commons-sa-brands" />
  </div>

  <p>
    Accord’s Library is not affiliated with or endorsed by SQUARE ENIX CO. LTD.
    All game assets and promotional materials belongs to © SQUARE ENIX CO. LTD.
  </p>

  <div id="social-links">
    <a href="https://github.com/accords-Library"
      ><Icon name="github-brands" /></a
    >
    <a href="https://twitter.com/AccordsLibrary"><Icon name="x-brands" /></a>
    <a href="/discord"><Icon name="discord-brands" /></a>
  </div>
</div>

{
  /* ------------------------------------------- CSS -------------------------------------------- */
}

<style>
  .hidden {
    display: none;
  }

  #title {
    font-family: var(--font-headers);
    font-size: 1.875rem;
  }

  p {
    text-align: center;
  }

  #accords-logo {
    width: max(50%, 3rem);
    aspect-ratio: 1/1;
    color: var(--color-base-1000);

    &:hover {
      color: var(--color-base-600);
    }

    & > svg {
      width: 100%;
      height: 100%;
    }
  }

  #buttons {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;

    &.reduced {
      flex-direction: column;
    }

    & > #theme-toggle.dark > .when-light,
    & > #theme-toggle.light > .when-dark {
      display: none;
    }
  }

  #common-creative {
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    gap: 0.25rem;

    & > svg {
      width: 24px;
      height: 24px;
    }
  }

  #social-links {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    gap: 2rem;

    & > a > svg {
      width: 40px;
      height: 40px;
    }
  }
</style>

{
  /* -------------------------------------------- JS -------------------------------------------- */
}

<script>
  import tippy, { createSingleton } from "tippy.js";
  createSingleton(
    tippy("#menu-panel > .when-reduced > [data-tippy-template]", {
      content: (reference) => {
        const templateQuery = reference.getAttribute("data-tippy-template")!;
        const template = reference.querySelector(templateQuery)!;
        const container = document.createElement("div");
        container.append(template.cloneNode(true));
        container.style.fontSize = "90%";
        return container;
      },
    }),
    {
      allowHTML: true,
      placement: "right",
      delay: 250,
      moveTransition: "transform 0.2s ease",
      maxWidth: "18rem",
      inertia: true,
    }
  );
</script>
